<!-- HEADER -->
  <header>
    <!-- TOP HEADER -->
    <div id="top-header">
      <div class="container">
        <ul class="header-links pull-left">
          <li><a href="#"><i class="fa fa-phone"></i> +51 123-456-789</a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i> lito.cp@email.com</a></li>
          <li><a href="#"><i class="fa fa-map-marker"></i> José Galvez 2345 Bellavista-Callao</a></li>
        </ul>
        <ul class="header-links pull-right">
          <li><a href="#"><i class="fa fa-dollar"></i> PEN</a></li>
          <li><a href="#"><i class="fa fa-user-o"></i> Mi Cuenta</a></li>
        </ul>
      </div>
    </div>
    <!-- /TOP HEADER -->
  
    <!-- MAIN HEADER -->
    <div id="header">
      <!-- container -->
      <div class="container fix">
        <!-- row -->
        <div class="row-fix">
          <!-- LOGO -->
          <div class="col-md-3">
            <div class="header-logo">
              <a routerLink="/" class="logo">
                TIENDITA
              </a>
            </div>
          </div>
          <!-- /LOGO -->
  
          <!-- ACCOUNT -->
          <div class="col-md-3 clearfix">
            <div class="header-ctn">
              <!-- Wishlist -->
              <div>
                <a href="#">
                  <i class="fa fa-heart-o"></i>
                  <span>Lista de deseos</span>
                  <div class="qty">0</div>
                </a>
              </div>
              <!-- /Wishlist -->
  
              <!-- Cart -->
              <div class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Mi Carrito</span>
                  <!-- error si solo se pone cardData.data.lenght -->
                  <div class="qty">{{cartData.total === 0 ? "0" : cartData.data.length}}</div>
                </a>
                <div class="cart-dropdown" >
                  <div class="cart-summary">
                    <small>{{cartData.total === 0 ? "0" : cartData.data.length}} Item(s) seleccionados</small>
                    <h5>TOTAL : {{cartTotal|currency:'PEN'}}</h5>
                  </div>                  
                </div>
              </div>
              <!-- /Cart -->

            </div>
          </div>
          <!-- /ACCOUNT -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
  </header>
  <!-- /HEADER -->
  
  <!-- NAVIGATION -->
  <div class="subheader">
    <h3 style="margin: 1.5rem;">Encuentra los productos mas innovadores a los mejores precios, aquí en la <strong>TIENDITA</strong> Online</h3>
  </div>
  <!-- /NAVIGATION -->
  