<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
      <div class="container">
        <ul class="header-links pull-left">
          <li><a href="#"><i class="fa fa-phone"></i> +51 123-456-789</a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i> lito.cp@email.com</a></li>
          <li><a href="#"><i class="fa fa-map-marker"></i> José Galvez 2345 Bellavista-Callao</a></li>
        </ul>
        <ul class="header-links pull-right">
          <li><a href="#"><i class="fa fa-dollar"></i> PEN</a></li>
          <li><a href="#"><i class="fa fa-user-o"></i> Mi Cuenta</a></li>
        </ul>
      </div>
    </div>
    <!-- /TOP HEADER -->
  
    <!-- MAIN HEADER -->
    <div id="header">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- LOGO -->
          <div class="col-md-3">
            <div class="header-logo">
              <a routerLink="/" class="logo">
                TIENDITA
              </a>
            </div>
          </div>
          <!-- /LOGO -->
  
          <!-- SEARCH BAR -->
          <div class="col-md-6">
            <div class="header-search">
              <form>
                <input class="input in_header" placeholder="Search here">
                <button class="search-btn">Buscar</button>
              </form>
            </div>
          </div>
          <!-- /SEARCH BAR -->
  
          <!-- ACCOUNT -->
          <div class="col-md-3 clearfix">
            <div class="header-ctn">
              <!-- Wishlist -->
              <div>
                <a href="#">
                  <i class="fa fa-heart-o"></i>
                  <span>Lista de deseos</span>
                  <div class="qty">0</div>
                </a>
              </div>
              <!-- /Wishlist -->
  
              <!-- Cart -->
              <div class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Mi Carrito</span>
                  <div class="qty">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</div>
                </a>
                <div class="cart-dropdown" >
                  <div class="cart-list" >
                    <div *ngIf="cartData.data[0]?.numInCart === 0; else Data">
                      <span>no hay items seleccionados</span>
                    </div>

                    <ng-template #Data>
                      <div class="product-widget" *ngFor="let c of cartData.data; let i=index" >
                        <div class="product-img">
                          <img src="{{c.product?.image}}" alt="" width="20px">
                        </div>
                        <div class="product-body">
                          <h3 class="product-name"><a href="#">{{c.product?.name}}</a></h3>
                          <h4 class="product-price"><span class="qty">{{c.numInCart}} x</span>{{c.product?.price|currency:'PEN'}}</h4>
                        </div>
                        <button class="delete" ><i class="fa fa-close"></i></button>
                      </div>
                    </ng-template>
                    
                  </div>
                  <div class="cart-summary">
                    <small>{{cartData.data.length}} Item(s) seleccionados</small>
                    <h5>TOTAL : {{cartTotal|currency:'PEN'}}</h5>
                  </div>
                  <div class="cart-btns">
                    <a routerLink="/cart">View Cart</a>
                    <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
              <!-- /Cart -->
  
              <!-- Menu Toogle -->
              <div class="menu-toggle">
                <a href="#">
                  <i class="fa fa-bars"></i>
                  <span>Menu</span>
                </a>
              </div>
              <!-- /Menu Toogle -->
            </div>
          </div>
          <!-- /ACCOUNT -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
  </header>
  <!-- /HEADER -->
  
  <!-- NAVIGATION -->
    <div class="subheader">
      <h3>Encuentra los productos mas innovadores a los mejores precios, aquí en la <strong>TIENDITA</strong> Online</h3>
    </div>
  <!-- /NAVIGATION -->
  