  
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
  
        <!-- section title -->
        <div class="col-md-12">
          <div class="section-title">
            <h3 class="title">Nuevos productos</h3>
          </div>          
        </div>
        <!-- /section title -->

        <nav id="navigation">
          <!-- container -->
          <div class="container">
            <!-- responsive-nav -->
            <div>
              <!-- NAV -->
              <ul class="main-nav nav py-3">
                <li class="active"><span (click)="selectAllProducts()">Todos</span></li>
                <li><span (click)="selectforCategory('Calzado')">Calzado</span></li>
                <li><span (click)="selectforCategory('Tecnología')">Tecnología</span></li>
                <li><span (click)="selectforCategory('Teléfonos')">Teléfonos</span></li>               
                <li><span (click)="selectforCategory('Juegos')">Juegos</span></li>               
              </ul>
              <br>
              <!-- TODO INPUT FILTER-->
              <div>
                <mat-form-field>
                  <input type="text"
                         placeholder="Introduce el nombre del producto a buscar"
                         aria-label="Buscador"
                         matInput
                         #searchInput
                         [(ngModel)]="termino"
                         (input) = "buscar()"
                         [matAutocomplete]="auto">
                  
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="opcionseleccionada($event)">
                      
                      <mat-option *ngFor="let product of products" [value]="product">          
                        <div>
                          {{product?.name}} 
                        </div>           
                      </mat-option>                                   
                      
                    </mat-autocomplete>      
                         
              </mat-form-field>
              </div>
              <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
          </div>
          <!-- /container -->
        </nav>
  
        <!-- Products tab & slick -->
        <div class="col-md-12">
          <div class="pipe_buttons">
            <button class="btn btn-outline-primary" (click)="ordenarporalfa('cantidad')"><span class="btn-span">Popular <i class='bx bxs-star'></i></span></button>
            <button class="btn btn-outline-primary" (click)="ordenarporalfa('preciolow')"><span class="btn-span">Precio <i class='bx bx-chevron-up'></i></span></button>
            <button class="btn btn-outline-primary" (click)="ordenarporalfa('preciohigh')"><span class="btn-span">Precio <i class='bx bx-chevron-down'></i></span></button>
          </div><br>
          <div class="row products__container">
            <div class="col-md-4 col-sm-6 products__content" *ngFor="let product of products|ordenar:poralfa">
              <app-products-card [product]="product"></app-products-card>
              <!-- <div class="card my-2">
                  <img [src]="product.image" 
                  (click)="selectProduct(product.id)"
                  alt="product.name" 
                  width="200px" 
                  class="card-img-top" 
                  style="cursor:pointer;">
                  <div class="card-header">
                    <div class="card-title">
                      <p>{{product.name|titlecase}}</p>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6>{{product.description.substr(0, 40)}} ....</h6>
                    <p class="lead">{{product.price | currency:'PEN'}}</p>
                    <p class="lead">{{product.category}}</p>
                  </div>
  
                  <div class="row d-flex justify-content-center border-primary my-3">
                    <div class="col-md-6 ">
                      <button class="btn btn-outline-primary btn-sm btn-block"
                        [class.disabled]="product.quantity < 1"
                        [class.btn-outline-danger]="product.quantity < 1"
                        (click)="AddProduct(product.id)"
                        [disabled]="product.quantity < 1">
                        {{ product.quantity < 1 ? "NO STOCK" : "Add To Cart"}}
                      </button>
                    </div>
                  </div>
  
              </div>   -->
              
            </div>
            
          </div>

          
          <div *ngIf="errorfound">
            <h2>No se encontraron resultados para tu búsqueda</h2>
            <div>
              <p>verifica el texto ingresado en el buscador</p>
            </div>
          </div>
          
          
            
  
        </div>
      </div>
    </div>
  
  </div>
  <!-- /container -->
  
  <!-- /SECTION -->
  
  <!-- HOT DEAL SECTION -->
  <div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 article">
            <div class="imgback"></div>
            <div class="imgpost"></div>            
          <div class="hot-deal">
            <ul class="hot-deal-countdown">
              <li>
                <div>
                  <h3>02</h3>
                  <span>Days</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>10</h3>
                  <span>Hours</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>34</h3>
                  <span>Mins</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>60</h3>
                  <span>Secs</span>
                </div>
              </li>
            </ul>
            <h2 class="text-uppercase">hot deal this week</h2>
            <p>New Collection Up to 50% OFF</p>
            <a class="primary-btn cta-btn" href="#">Shop now</a>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /HOT DEAL SECTION -->
  
  
  <!-- NEWSLETTER -->
  <div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="newsletter">
            <p>Sign Up for the <strong>NEWSLETTER</strong></p>
            <form>
              <input class="input" type="email" placeholder="Enter Your Email">
              <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
            </form>
            <ul class="newsletter-follow">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /NEWSLETTER -->
  